<!DOCTYPE html>
<html>

<style>
    .button {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 33%;
    }
 
</style>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/winwincss.css') }}">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Add Times</title>
</head>


<body>
  <div class="main">
    <p class="sign" align="center">Update Availability</p>

    <table style="width:80%">
  <tr>
    <th></th>
    <th>S</th>
    <th>M</th>
    <th>T</th>
    <th>W</th>
    <th>Th</th>
    <th>F</th>
    <th>S</th>
  </tr>  
  <tr>
    <th>8am-12pm</th>
    <td><input type="checkbox" name="name1" />&nbsp;</td>
    <td><input type="checkbox" name="name2" />&nbsp;</td>
    <td><input type="checkbox" name="name3" />&nbsp;</td>
    <td><input type="checkbox" name="name4" />&nbsp;</td>
    <td><input type="checkbox" name="name5" />&nbsp;</td>
    <td><input type="checkbox" name="name6" />&nbsp;</td>
    <td><input type="checkbox" name="name7" />&nbsp;</td>
  </tr>
  <tr>
    <th>12-2pm</th>
    <td><input type="checkbox" name="name1" />&nbsp;</td>
    <td><input type="checkbox" name="name2" />&nbsp;</td>
    <td><input type="checkbox" name="name3" />&nbsp;</td>
    <td><input type="checkbox" name="name4" />&nbsp;</td>
    <td><input type="checkbox" name="name5" />&nbsp;</td>
    <td><input type="checkbox" name="name6" />&nbsp;</td>
    <td><input type="checkbox" name="name7" />&nbsp;</td>
  </tr>
  <tr>
    <th>2-4pm</th>
    <td><input type="checkbox" name="name1" />&nbsp;</td>
    <td><input type="checkbox" name="name2" />&nbsp;</td>
    <td><input type="checkbox" name="name3" />&nbsp;</td>
    <td><input type="checkbox" name="name4" />&nbsp;</td>
    <td><input type="checkbox" name="name5" />&nbsp;</td>
    <td><input type="checkbox" name="name6" />&nbsp;</td>
    <td><input type="checkbox" name="name7" />&nbsp;</td>
  </tr>
  <tr>
    <th>4-6pm</th>
    <td><input type="checkbox" name="name1" />&nbsp;</td>
    <td><input type="checkbox" name="name2" />&nbsp;</td>
    <td><input type="checkbox" name="name3" />&nbsp;</td>
    <td><input type="checkbox" name="name4" />&nbsp;</td>
    <td><input type="checkbox" name="name5" />&nbsp;</td>
    <td><input type="checkbox" name="name6" />&nbsp;</td>
    <td><input type="checkbox" name="name7" />&nbsp;</td>
 </tr>
 <tr>
    <th>6-8pm</th>
    <td><input type="checkbox" name="name1" />&nbsp;</td>
    <td><input type="checkbox" name="name2" />&nbsp;</td>
    <td><input type="checkbox" name="name3" />&nbsp;</td>
    <td><input type="checkbox" name="name4" />&nbsp;</td>
    <td><input type="checkbox" name="name5" />&nbsp;</td>
    <td><input type="checkbox" name="name6" />&nbsp;</td>
    <td><input type="checkbox" name="name7" />&nbsp;</td>
</tr>
<tr>
    <th>8-10pm</th>
    <td><input type="checkbox" name="name1" />&nbsp;</td>
    <td><input type="checkbox" name="name2" />&nbsp;</td>
    <td><input type="checkbox" name="name3" />&nbsp;</td>
    <td><input type="checkbox" name="name4" />&nbsp;</td>
    <td><input type="checkbox" name="name5" />&nbsp;</td>
    <td><input type="checkbox" name="name6" />&nbsp;</td>
    <td><input type="checkbox" name="name7" />&nbsp;</td>
 </tr>
 <tr>
    <th>10pm-12am</th>
    <td><input type="checkbox" name="name1" />&nbsp;</td>
    <td><input type="checkbox" name="name2" />&nbsp;</td>
    <td><input type="checkbox" name="name3" />&nbsp;</td>
    <td><input type="checkbox" name="name4" />&nbsp;</td>
    <td><input type="checkbox" name="name5" />&nbsp;</td>
    <td><input type="checkbox" name="name6" />&nbsp;</td>
    <td><input type="checkbox" name="name7" />&nbsp;</td>
</tr>
<tr>
    <th>12-2am</th>
    <td><input type="checkbox" name="name1" />&nbsp;</td>
    <td><input type="checkbox" name="name2" />&nbsp;</td>
    <td><input type="checkbox" name="name3" />&nbsp;</td>
    <td><input type="checkbox" name="name4" />&nbsp;</td>
    <td><input type="checkbox" name="name5" />&nbsp;</td>
    <td><input type="checkbox" name="name6" />&nbsp;</td>
    <td><input type="checkbox" name="name7" />&nbsp;</td>
</tr>
</table>
<br>
<br>
      <a href="./dashboard" class="button" align = "center">Dashboard</a>
           
    </div>
</body>

</html>
