<!DOCTYPE html>
<html>



<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/winwincss.css') }}">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Current Classes</title>
</head>


<body>
  <div class="main">
    <p class="sign" align="center">Current Classes</p>
      <a href="./dashboard" class="button">Back to dash</a>   
    </div>
</body>

</html>
