<!DOCTYPE html>
<html>


<style>
    .button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 7%;
        display:inline-block;
    }

</style>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/winwincss.css') }}">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<title>Feedback</title>
</head>

<body>
  <div class="main">

    <p class="sign" align="center">Feedback Form:</p>

<form action="/action_page.php">
  <textarea name="message" rows="10" cols="30">
    
  </textarea>
  <br>
  <input type="submit">
</form>
<br>
<br>
  <a href="./dashboard" class="button">Dashboard</a>     
    </div>
</body>

</html>
