<!DOCTYPE html>
<html>

<style>

    .main {
        width: 600px;
        height: 200px;
    }
    
    .sign {
        padding-bottom: 20px;
    }
    
    .submit {
        margin-left: 7%;
        font-size: 13px;
    }


</style>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/winwincss.css') }}">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Create Account (cont.)</p>
      <a href= "./addClass"class="submit" align="center">Add Classes</a>
      <a href= "./addTimes" class="submit" align="center">Add Free Time</a>  
      <a href="./dashboard" class="submit"align ="center">Skip</a>
              
    </div>
     
</body>

</html>