<!DOCTYPE html>
<html>

<style>


    .button {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 33%;
    }
    

</style>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/winwincss.css') }}">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Groups</title>
</head>


<body>
  <div class="main">
    <p class="sign" align="center">Groups</p>

    <table style="width:80%">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Class</th>
  </tr>
  <tr>
    <td>Zach</td>
    <td>zzz@bu.edu</td>
    <td>CASCH101</td>
  </tr>
  <tr>
    <td>Sean</td>
    <td>sdr@bu.edu</td>
    <td>CASMA111</td>  
  </tr>
  <tr>
    <td>Jane</td>
    <td>jer@bu.edu</td>
    <td>CASWR150</td>  
 </tr>
 <tr>
    <td>-</td>
    <td></td>
    <td></td>  
 </tr>
  <tr>
    <td>-</td>
    <td></td>
    <td></td>  
 </tr>
  <tr>
    <td>-</td>
    <td></td>
    <td></td>  
 </tr>
  <tr>
    <td>-</td>
    <td></td>
    <td></td>  
 </tr>
  <tr>
    <td>-</td>
    <td></td>
    <td></td>  
 </tr>
   <tr>
    <td>-</td>
    <td></td>
    <td></td>  
 </tr>
</table>

<br>
<br>

      <a href="./dashboard" class="button" align = "center">Dashboard</a>
    </div>
</body>

</html>
